#TitleImgDocument{
    width: 100px;
}

.PageName{
    font-size: 4.56rem;
    font-weight: bold;
    text-align: center;
    padding: 4rem;
}

.Desc{
    padding: 10px 20px 100px;
    text-align: center;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.500);
}
#ButtonNext{
    text-align: center;
    a{
        font-size: 1.5rem;
        padding: 9.23px;
        background-color: #33e706;
        color: black;
        cursor: pointer;
        border-radius: 7px;
    }
}
a{
    text-decoration: none;
}
.Github{
    position: absolute;
    bottom: 0;
    padding: 20px;
    right: 0;
}

#githubimg{
    width: 45px;
}