<section>
    <div class="PageName">
        NapicuFaktura
        <div class="Title-Img">
            <img src="/assets/document.webp" id="TitleImgDocument">
        </div>
    </div>
    <div class="Desc">
        <h4>Vytvoř si svojí fakturu právě teď. S tímto skvělým nástrojem ti to půjde jednoduše!</h4>
    </div>
    <div id="ButtonNext">
        <a routerLink="/creat">
            Vytvořit fakturu
        </a>
    </div>
</section>
<section>
    <a class="Github" target="_blank" href="https://github.com/Numax-cz/NapicuFaktura">
        <img src="/assets/github.webp" id="githubimg">
    </a>
</section>