<section id="FakturaData" *ngIf="data" #Faktura>
    <div class="Faktura-table" id="Faktura">
        <div class="BorderRam">
            <div class="Top">
                <div class="Title Border Right">
                    <div class="TitleID">
                        <strong> {{data.Title}}</strong>
                    </div>
                </div>
            </div>
            <div class="Mid1 Border">
                <div class="grid">
                    <div class="GridItem">
                        <div class="Grid-Title">
                            <strong>Odběratel</strong>
                        </div>
                        <div class="Grid-Container">
                            <div class="Name">
                                {{data.UserOd.Name}}
                            </div>
                            <div class="Adresa">
                                {{data.UserOd.Street}}
                            </div>
                            <div class="Stat">
                                {{data.UserOd.Nation}}
                            </div>
                            <div class="Psc">
                                {{data.UserOd.Psc}}
                            </div>
                            <div class="ic">
                                <strong>IČ:</strong> {{data.UserOd.Ico}}
                            </div>
                            <div class="dic">
                                <strong>DIČ:</strong> {{data.UserOd.Dic}}
                            </div>
                        </div>
                    </div>
                    <div class="GridItem">
                        <div class="Grid-Title">
                            <strong>Dodavatel</strong>
                        </div>
                        <div class="Grid-Container">
                            <div class="Name">
                                {{data.UserDo.Name}}
                            </div>
                            <div class="Adresa">
                                {{data.UserDo.Street}}
                            </div>
                            <div class="Stat">
                                {{data.UserDo.Nation}}
                            </div>
                            <div class="Psc">
                                {{data.UserDo.Psc}}
                            </div>
                            <div class="ic">
                                <strong>IČ:</strong> {{data.UserDo.Ico}}
                            </div>
                            <div class="dic">
                                <strong>DIČ:</strong> {{data.UserDo.Dic}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Mid2 Border">
                <div class="grid">
                    <div class="GridItem">
                        <div class="Grid-Container">
                            <strong>Druh:</strong> {{data.Type}}
                        </div>
                    </div>
                    <div class="GridItem">
                        <div class="Grid-Container">
                            <strong>Forma úhrady:</strong> {{data.Payment}}
                        </div>
                    </div>

                    <div class="GridItem">
                        <div class="Grid-Container">
                            <div class="Vystaveno">
                                <strong>Datum vystavení:</strong> {{data.Dates.Exposure}}
                            </div>
                            <div class="Splatnost">
                                <strong>Datum zdaneni plnění:</strong> {{data.Dates.Zd}}
                            </div>
                            <div class="Zdaneni">
                                <strong>Datum splatnosti:</strong> {{data.Dates.Validity}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Mid3 Border">
                <table id="TablesItems">
                    <tr class="TablesMain Border">
                        <th><strong>Počet</strong></th>
                        <th><strong>M.J.</strong></th>
                        <th><strong>Popis</strong></th>
                        <th><strong>Cena</strong></th>
                        <th><strong>%DPH</strong></th>
                        <th><strong>Celkem</strong></th>
                    </tr>
                    <tr *ngFor="let items of data.Items">
                        <td>{{items.count}}</td>
                        <td>{{items.unit}}</td>
                        <td>{{items.name}}</td>
                        <td>{{items.price}}Kč</td>
                        <td>{{items.dph}}%</td>
                        <td>{{items.priceall}}Kč</td>
                    </tr>
                </table>
            </div>
            <div class="Bottom">
                <div class="Celkem">
                    <table>
                        <tr class="BezDPH">
                            <td class="FinalListText">Celkem bez DPH</td>
                            <td class="CenaA">{{data.Price}} Kč</td>
                        </tr>
                        <tr class="SDPH">
                            <td class="FinalListText">Celkem s DPH</td>
                            <td class="CenaA">{{data.PriceDPH}} Kč</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>