<section id="CreatPole">
    <div class="Main">

        <div class="Title">
            Vytvoření nové faktury
        </div>
        <div class="PoleCt">
            <div class="grid">
                <div class="GridItem">
                    <div class="UserInputs">
                        <div class="InputItem">
                            <span>Název</span>
                            <input type="text" [(ngModel)]="Faktura.Title">
                        </div>
                        <div class="InputItem">
                            <span>Druh</span>
                            <select class="OptionInput" [(ngModel)]="Faktura.Type">
                                <option *ngFor="let option of OptionDPHA" [value]="option.title">
                                    {{option.title}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="GridItem">
                    <div class="UserInputs">
                        <div class="InputItem">
                            <span>Datum vystavení</span>
                            <input type="date" id="Date1" [(ngModel)]="Faktura.Dates.Exposure">
                        </div>
                        <div *ngIf="DPH" class="InputItem">
                            <span>Datum zd. plnění</span>
                            <input type="date" id="Date2" [(ngModel)]="Faktura.Dates.Zd">
                        </div>
                        <div class="InputItem">
                            <span>Splatnost</span>
                            <input type="date" id="Date3" [(ngModel)]="Faktura.Dates.Validity">
                        </div>
                        <div class="InputItem">
                            <span>Forma úhrady</span>
                            <select class="OptionInput" [(ngModel)]="Faktura.Payment">
                                <option *ngFor="let option of OptionPay" [value]="option.title">
                                    {{option.title}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="PoleCt">
            <div class="grid">
                <div class="GridItem">
                    <div class="TitlePole">
                        Odběratel
                    </div>
                    <div class="UserInputs">
                        <div class="InputItem">
                            <span>DIČ</span>
                            <input type="number" [(ngModel)]="Faktura.UserOd.Dic">
                        </div>
                        <div class="InputItem">
                            <span>IČO</span>
                            <input type="number" [(ngModel)]="Faktura.UserOd.Ico">
                        </div>
                        <div class="InputItem">
                            <span>Jméno</span>
                            <input type="text" [(ngModel)]="Faktura.UserOd.Name">
                        </div>
                        <div class="InputItem">
                            <span>Ulice</span>
                            <input type="text" [(ngModel)]="Faktura.UserOd.Street">
                        </div>
                        <div class="InputItem">
                            <span>Město</span>
                            <input type="text" [(ngModel)]="Faktura.UserOd.City">
                        </div>
                        <div class="InputItem">
                            <span>PSČ</span>
                            <input type="text" [(ngModel)]="Faktura.UserOd.Psc">
                        </div>
                        <div class="InputItem">
                            <span>Země</span>
                            <input type="text" [(ngModel)]="Faktura.UserOd.Nation">
                        </div>
                    </div>
                </div>
                <div class="GridItem">
                    <div class="TitlePole">
                        Dodavatel
                    </div>
                    <div class="UserInputs">
                        <div class="InputItem">
                            <span>DIČ</span>
                            <input type="number" [(ngModel)]="Faktura.UserDo.Dic">
                        </div>
                        <div class="InputItem">
                            <span>IČO</span>
                            <input type="number" [(ngModel)]="Faktura.UserDo.Ico">
                        </div>
                        <div class="InputItem">
                            <span>Jméno</span>
                            <input type="text" [(ngModel)]="Faktura.UserDo.Name">
                        </div>
                        <div class="InputItem">
                            <span>Ulice</span>
                            <input type="text" [(ngModel)]="Faktura.UserDo.Street">
                        </div>
                        <div class="InputItem">
                            <span>Město</span>
                            <input type="text" [(ngModel)]="Faktura.UserDo.City">
                        </div>
                        <div class="InputItem">
                            <span>PSČ</span>
                            <input type="text" [(ngModel)]="Faktura.UserDo.Psc">
                        </div>
                        <div class="InputItem">
                            <span>Země</span>
                            <input type="text" [(ngModel)]="Faktura.UserDo.Nation">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="PoleCt BottomItemsAd">
            <div class="TitlePole">
                Položky
            </div>
            <div class="AddItems">
                <button (click)="AddItem()">Přidat položku +</button>
            </div>
            <div class="AddItem">
                <table id="TablesItems">
                    <tr>
                        <th id="xd">Počet</th>
                        <th>M.J.</th>
                        <th>Název</th>
                        <th *ngIf="DPH">DPH</th>
                        <th>Cena</th>
                        <th>Celkem</th>
                    </tr>
                    <tr *ngFor="let i of Items" id="MainItemsTable">
                        <td class="InputItems-1 Input-Items">
                            <input type="number" [(ngModel)]="i.count" (ngModelChange)="ItemsSetValues(i)">
                        </td>
                        <td class="InputItems-2 Input-Items">
                            <select class="OptionInput" [(ngModel)]="i.unit" (ngModelChange)="ItemsSetValues(i)">
                                <option *ngFor="let option of OptionItems" [value]="option.title"> {{option.title}}
                                </option>
                            </select>
                        </td>
                        <td class="InputItems-3 Input-Items">
                            <input type="text" [(ngModel)]="i.name" (ngModelChange)="ItemsSetValues(i)">
                        </td>
                        <td *ngIf="DPH" class="InputItems-4 Input-Items">
                            <select class="OptionInput" [(ngModel)]="i.dph" (ngModelChange)="ItemsSetValues(i)">
                                <option *ngFor="let option of OptionDPH" [value]="option.value"
                                    [selected]="i.dph === option.value"> {{option.title}}
                                </option>
                            </select>
                        </td>
                        <td class="InputItems-5 Input-Items">
                            <input type="number" [(ngModel)]="i.price" (ngModelChange)="ItemsSetValues(i)">
                        </td>
                        <td class="InputItems-6 Input-Items">
                            <input type="text" disabled="disabled" [value]="i.priceall">
                        </td>
                        <td>
                            <span>
                                <i>
                                    <img src="/assets/close.webp" id="ButtonClose" (click)="DeleteItems(i)">
                                </i>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="PoleCt">
            </div>
            <div class="FinalList">
                <table>
                    <tr class="BezDPH">
                        <td class="FinalListText">Celkem bez DPH</td>
                        <td class="CenaA">{{Price}} Kč</td>
                    </tr>
                    <tr class="SDPH">
                        <td class="FinalListText">Celkem s DPH</td>
                        <td class="CenaA">{{PriceDPH}} Kč</td>
                    </tr>
                </table>

            </div>
            <div class="ButtonDownload">
                <app-htmltopdf></app-htmltopdf>
            </div>
        </div>
    </div>
</section>


<section id="Paper">

    <app-faktura [data]="Faktura"></app-faktura>
</section>